.xRay_card{
    display: flex;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.24);
    padding: 10px;
    margin:10px;
    border-radius: 5px;
    overflow-y: auto;
   max-height: 250px;
}
.header_xrayView{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
}
.name_head{
    font-size: 1.5rem;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.774)
}
.x_key{
    color: #172578;
    font-weight: 600;
    font-size: 1.2em;
    padding-right: 18px;
}
.x_val{
    font-weight: 600;
    padding-left: 18px;
}
.val_wrapper{
    padding:20px;
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.158);
}
.card_right{
    margin-top: 15px;
}
body{
    overflow-x: hidden;
}
.border1{
    border-style: solid;
border-width: thin;
border-color: black;
width:'600px';

}