@media only screen and (min-width: 400px) {
.pos1{
margin-top: 35px !important;
margin-left: 10px !important;
}
  
}
.pos1{
  margin-top: 35px !important;
margin-left: 40px !important;
}
.carde{
    padding: 20px;
   
    width: 160px;
    height: 150px;
   
    margin-left: 0px;
    margin-bottom: 20px;
    overflow-y: auto;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.062);
}
.adjust{
  margin-top: 10px;
}
.add-space {
  margin-top: 0px;
}
.rep_date{
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 10px;
}
card::-webkit-scrollbar {
  width: 8px;
  border-radius: 5px;
 
}
/* Track */
.card::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}
 
/* Handle */
.card::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 3px;
}

/* Handle on hover */
.card::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.wrapper12{
  overflow: hidden
}